header,body {
  font-family: 'Raleway', sans-serif;
Verdana;
}
body {
  overflow-x: hidden !important;
}
h1 {
  font-size: 8vmin;
}
h2 {
  font-size: 5vmin;
}
h3 {
  font-size: 4vmin;
}
h4 {
  font-size: 3vmin;
}
body.li,p {
  font-size: 2.5vmin;
}
li {
  font-size: 2vmin;
}
#AllExp div.container div.col-xs-12{
  max-height: 50vmin;
}
.container {
  padding: 0vmin 10vmin;
  margin: auto;
}
header,.navbar {
  margin-bottom: 0vmin;
  background-color: rgba(73, 78, 107, 1);
  border-color: rgba(73, 78, 107, 1);
}
.navbar-brand {
  font-size: 4vmin;
}
.navbar-brand, .navbar a, #Overview{
  color: rgba(255, 255, 255, 1) !important;
}
.navbar .active {
  background-color: rgba(196, 159, 102, 1) !important;
}
#myNavbar li a:hover {
  text-decoration: underline;
}
#Overview {
  background-image: linear-gradient( rgba(73, 78, 107, 0.75),rgba(73, 78, 107, 0.75)), url('../img/banner-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  min-height: 100vmin;
  padding-top: 20vmin;
}
#Overview .container{
  padding-top: 10vmin;
}
#Overview .container p {
  padding-top: 1vmin;
}
.front-end,.back-end {
  padding: 1vmin 3vmin;
}
.fa {
  margin-top: 2vmin;
  margin-left: 2vmin;
  color: rgba(196, 159, 102, 1);
  font-size: 4vmin;
}
#Skills {
  margin: 3vw 0;
  min-height: 65vmin;
  padding-top: 10vmin;
}
#Skills p:nth-child(1){
  text-decoration: underline;
}
#Websites {
  background-image: linear-gradient( rgba(152, 135, 143, 0.75),rgba(152, 135, 143, 0.75)), url('../img/websites-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  min-height: 100vmin;
  color: #fff;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
}
#Websites div .thumbnail {
  margin-top: 3vmin;
  min-height: 55vmin;
}
#Websites div .thumbnail .caption h4{
  font-weight: bold;
  text-decoration: underline;
}
#AllExp {
  margin: 4vmin 0vmin;
}
#AllExp .container div {
  margin: 2vmin 0vmin;
  height: 40vmin;
}
.company,.school {
  height: 30vmin;
  margin: auto;
}
#AllExp a {
  color: rgba(196, 159, 102, 1);
}
#Experience {
  padding-top: 10vmin;
}
#Education {
  padding-top: 10vmin;
}
#Contact {
  background-image: linear-gradient( rgba(73, 78, 107, 0.75),rgba(73, 78, 107, 0.75)), url('../img/contact-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  min-height: 70vmin;
  color: #fff;
  padding-top: 4vmin;
}

#Contact img {
  height: 35vmin;
}
#Contact h2 {
  margin-bottom: 5vmin;
}
footer {
  background-color: rgba(25, 34, 49, 1);
  color: #fff;
  height: 7vmin;
}
footer div:first-child {
 margin-top: 2vmin; 
}
footer .fa {
  font-size: 5vmin;
}


/* Classes to hide and reveal elements upon scroll: */
/* Create own class for hiding elements because Bootstrap has 'hidden' */
.hideMe {
  opacity: 0;
}
.visible {
  opacity: 1;
}